<table style='width:640px;color:rgb(51,51,51);margin:0 auto;border-collapse:collapse' id='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845container'>
   <tbody>
    <tr>
     <td style='padding:0 20px 20px 20px;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif' class='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845frame'>
      <table style='width:100%;border-collapse:collapse' id='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845main'>
       <tbody>
        <tr>
         <td style='vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif'>
          <table style='width:100%;border-collapse:collapse' id='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845header'>
           <tbody>
            <tr>
             <td style='width:115px;padding:20px 20px 0 0;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif' class='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845logo' rowspan='2'> <a data-saferedirecturl='https://www.google.com/url?hl=en&amp;q=https://www.amazon.in/gp/r.html?C%3D1H6X0AT2K3AR2%26K%3DAC1H0DB3Q6BF%26R%3D1NXICTSMU7RGK%26T%3DC%26U%3Dhttps%253A%252F%252Fwww.amazon.in%252Fref%253Dpe_386221_48200641_TE_logo%26A%3DDZCMQK8JOQOAHTVQXGMD5WND0L8A%26H%3DPB2KUESDUUPDHUEDHHDUAWNOBNSA%26ref_%3Dpe_386221_48200641_TE_logo&amp;source=gmail&amp;ust=1481170866936000&amp;usg=AFQjCNH3-Nn5n-dbn7MPd19p_RECgz98qA' target='_blank' style='text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif' title='Visit www.amazon.in' href='https://www.amazon.in/gp/r.html?C=1H6X0AT2K3AR2&amp;K=AC1H0DB3Q6BF&amp;R=1NXICTSMU7RGK&amp;T=C&amp;U=https%3A%2F%2Fwww.amazon.in%2Fref%3Dpe_386221_48200641_TE_logo&amp;A=DZCMQK8JOQOAHTVQXGMD5WND0L8A&amp;H=PB2KUESDUUPDHUEDHHDUAWNOBNSA&amp;ref_=pe_386221_48200641_TE_logo'> <img style='border:0;width:115px' src='https://wwwcdn.bigcommerce.com/www1.bigcommerce.com/assets/mediakit/logo-plain.png?mtime=20160412113732' alt='Amazon.in' class='CToWUd'> </a> </td>
             <td style='text-align:right;padding:5px 0;border-bottom:1px solid rgb(204,204,204);white-space:nowrap;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif' class='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845navigation'> </td>
             <td class='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845navigation' style='width:100%;padding:7px 5px 0;text-align:right;border-bottom:1px solid rgb(204,204,204);white-space:nowrap;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif'> <a data-saferedirecturl='https://www.google.com/url?hl=en&amp;q=https://www.amazon.in/gp/r.html?C%3D1H6X0AT2K3AR2%26K%3DAC1H0DB3Q6BF%26R%3D1NXICTSMU7RGK%26T%3DC%26U%3Dhttps%253A%252F%252Fwww.amazon.in%252Fgp%252Fcss%252Forder-history%252Fref%253Dpe_386221_48200641_TE_yo%26A%3DRBOTTUTO4CHPIUHR1TIT8W3ZMAWA%26H%3D4TYP9CKG447IXZATBJIFZF5LWKAA%26ref_%3Dpe_386221_48200641_TE_yo&amp;source=gmail&amp;ust=1481170866936000&amp;usg=AFQjCNHhWFJjZ1Cdy2WZ-IJ8NMBlI98Hzg' target='_blank' style='border-right:0px solid rgb(204,204,204);margin-right:0px;padding-right:0px;text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif' href='javascript:;'>Your Orders</a> </td>
             <td style='text-align:right;padding:5px 0;border-bottom:1px solid rgb(204,204,204);white-space:nowrap;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif' class='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845navigation'> <span style='text-decoration:none;color:rgb(204,204,204);font-size:15px;font-family:Arial,sans-serif'>&nbsp;|&nbsp;</span> <a data-saferedirecturl='https://www.google.com/url?hl=en&amp;q=https://www.amazon.in/gp/r.html?C%3D1H6X0AT2K3AR2%26K%3DAC1H0DB3Q6BF%26R%3D1NXICTSMU7RGK%26T%3DC%26U%3Dhttps%253A%252F%252Fwww.amazon.in%252Fgp%252Fcss%252Fyour-account-access%252Fref%253Dpe_386221_48200641_TE_ya%26A%3DUUSSWVQBJYG5ZKLMNUT6KCGXA7YA%26H%3DVVAW4PHDA0ZLQN1CIUZ3TVYMTF4A%26ref_%3Dpe_386221_48200641_TE_ya&amp;source=gmail&amp;ust=1481170866936000&amp;usg=AFQjCNG-JtAtypS0CPXoWCWCB9XVFLRFAw' target='_blank' style='border-right:0px solid rgb(204,204,204);margin-right:0px;padding-right:0px;text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif' href='javascript:;'>Your Account</a> <span style='text-decoration:none;color:rgb(204,204,204);font-size:15px;font-family:Arial,sans-serif'>&nbsp;|&nbsp;</span> <a data-saferedirecturl='https://www.bigcommerce.com/' target='_blank' style='border:0;margin:0;padding:0;border-right:0px solid rgb(204,204,204);margin-right:0px;padding-right:0px;text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif' href='https://www.bigcommerce.com/' class='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845last'>BigCommerce.com</a> </td>
            </tr>
            <tr>
             <td style='text-align:right;padding:7px 0 5px 0;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif' class='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845title' colspan='3'> <h2 style='font-size:20px;line-height:24px;margin:0;padding:0;font-weight:normal;color:rgb(0,0,0)!important'>Order Confirmation</h2> Order #<span style='text-decoration:none;font:12px/16px Arial,sans-serif'>%%ORDER_id%%</span> <br> </td>
            </tr>
           </tbody>
          </table> </td>
        </tr>
        <tr>
         <td style='vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif'>
          <table style='width:100%;border-collapse:collapse' id='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845summary'>
           <tbody>
            <tr>
             <td style='vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif'> <h3 style='font-size:18px;color:rgb(204,102,0);margin:15px 0 0 0;font-weight:normal'>Hello %%CUSTOMER_first_name%% %%CUSTOMER_last_name%%,</h3> <p style='margin:0 0 4px 0;font:12px/16px Arial,sans-serif'> Thank you for your order. We’ll send a confirmation when your order ships. </p></td>
            </tr>
            <tr>
             <td style='vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif'> </td>
            </tr>
           </tbody>
          </table> </td>
        </tr>
        <tr>
         <td style='vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif'>
          <table id='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845criticalInfo' style='width:100%;border-top:3px solid rgb(45,55,65);border-collapse:collapse'>
           <tbody>
            <tr>
             <td style='font-size:14px;padding:11px 18px 18px 18px;background-color:rgb(239,239,239);width:50%;vertical-align:top;line-height:18px;font-family:Arial,sans-serif'> <p style='margin:2px 0 9px 0;font:14px Arial,sans-serif'> <span style='font-size:14px;color:rgb(102,102,102)'>Arriving:</span><br> <b style='color:#009900'> Monday, October 17 - <br> Thursday, October 20 </b> </p> <p style='margin:2px 0 9px 0;font:14px Arial,sans-serif'> <span style='font-size:14px;color:rgb(102,102,102)'>Your shipping speed:</span> <br> <b> FREE Delivery on eligible orders </b> </p> <a data-saferedirecturl='https://www.google.com/url?hl=en&amp;q=https://www.amazon.in/gp/r.html?C%3D1H6X0AT2K3AR2%26K%3DAC1H0DB3Q6BF%26R%3D1NXICTSMU7RGK%26T%3DC%26U%3Dhttps%253A%252F%252Fwww.amazon.in%252Fgp%252Fcss%252Forder-details%253ForderId%253D403-0681653-1444348%2526ref_%253Dpe_386221_48200641_TE_on_sh%26A%3DURO9TAT4NVPKDSAJMORBNCQRE3UA%26H%3DZK6QZF5KHRAYH6CWLUJOBYUEA8AA%26ref_%3Dpe_386221_48200641_TE_on_sh&amp;source=gmail&amp;ust=1481170866936000&amp;usg=AFQjCNHJiciGCbLlY_lcOEb236fkTj0YbQ' target='_blank' style='font-size:11px;color:rgb(102,102,102);text-decoration:underline;font:12px/16px Arial,sans-serif' href='https://store-kddaechy.mybigcommerce.com/account.php?action=order_status'> <img border='0' style='border:0' src='https://ci5.googleusercontent.com/proxy/KfTShBMmiT22TA_5FwDnQfqjVK9vJHwVH5sEz8IuY-ND--GTuMuGTf8r3weEOwkv4QUdHPOVx1QarN7kzslJ-r43eUvxR3sPB_E7fxt12pgKLdu5uKjzbXI5w0TGITTVQfK6Xg=s0-d-e1-ft#http://g-ecx.images-amazon.com/images/G/01/e-mail/img14/buttons/cta_manage.png' id='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845yourOrders' alt='Your Orders' class='CToWUd'> </a> </td>
             <td style='font-size:14px;padding:11px 18px 18px 18px;background-color:rgb(239,239,239);width:50%;vertical-align:top;line-height:18px;font-family:Arial,sans-serif'> <p style='margin:2px 0 9px 0;font:14px Arial,sans-serif'> <span style='font-size:14px;color:rgb(102,102,102)'>Your order will be sent to:</span> <br> %%SHIPPING_address%%</td>
            </tr>
           </tbody>
          </table> </td>
        </tr>
        <tr>
         <td style='vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif'> <b>Why a date range?</b> We’re working to get your order to you as soon as possible. We’ll let you know the specific delivery date when your order ships. </td>
        </tr>
        <tr>
         <td style='border-bottom:1px solid rgb(204,204,204);vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif'> <h3 style='font-size:18px;color:rgb(204,102,0);margin:15px 0 0 0;font-weight:normal'>Order Details</h3> </td>
        </tr>
        <tr>
         <td style='vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif'>
          <table style='width:100%;border-collapse:collapse' id='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845orderDetails'>
           <tbody>
            <tr>
             <td style='vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif'> Order #<span style='text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif'>%%ORDER_id%%</span> <br> <span style='font-size:12px;color:rgb(102,102,102)'>Placed on %%ORDER_created_at%%</span> </td>
            </tr>
           </tbody>
          </table> </td>
        </tr>
        <tr>
         <td style='padding-left:32px;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif'>
          <table id='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845itemDetails' style='width:95%;border-collapse:collapse'>
           <tbody>
            %%ORDER_table%%
           </tbody>
          </table> </td>
        </tr>
        <tr>
         <td style='padding-left:32px;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif'>
          <table id='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845costBreakdown' style='width:95%;border-collapse:collapse'>
           <tbody>
            <tr>
             <td style='border-top:1px solid rgb(234,234,234);padding:0 0 16px 0;text-align:right;line-height:18px;vertical-align:top;font-size:13px;font-family:Arial,sans-serif' class='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845divider' colspan='2'> </td>
            </tr>
            <tr>
             <td style='text-align:right;line-height:18px;padding:0 10px 0 0;vertical-align:top;font-size:13px;font-family:Arial,sans-serif'> Item Subtotal: </td>
             <td style='width:120px;text-align:right;line-height:18px;padding:0 10px 0 0;vertical-align:top;font-size:13px;font-family:Arial,sans-serif' class='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845price'> %%ORDER_subtotal%% </td>
            </tr>
            <tr>
             <td style='text-align:right;line-height:18px;padding:0 10px 0 0;vertical-align:top;font-size:13px;font-family:Arial,sans-serif'> Shipping &amp; Handling: </td>
             <td style='width:120px;text-align:right;line-height:18px;padding:0 10px 0 0;vertical-align:top;font-size:13px;font-family:Arial,sans-serif' class='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845price'> %%ORDER_shipping_charge%% </td>
            </tr>
            <tr>
             <td style='text-align:right;line-height:18px;padding:0 10px 0 0;vertical-align:top;font-size:13px;font-family:Arial,sans-serif' colspan='2'> <p style='margin:0 0 8px 0;font:12px/16px Arial,sans-serif'></p> </td>
            </tr>
            <tr>
             <td style='text-align:right;line-height:18px;padding:0 10px 0 0;vertical-align:top;font-size:13px;font-family:Arial,sans-serif' colspan='2'> <p style='margin:0 0 8px 0;font:12px/16px Arial,sans-serif'></p> </td>
            </tr>
            <tr>
             <td style='text-align:right;line-height:18px;padding:0 10px 0 0;vertical-align:top;font-size:13px;font-family:Arial,sans-serif' colspan='2'> <p style='margin:0 0 8px 0;font:12px/16px Arial,sans-serif'></p> </td>
            </tr>
            <tr>
             <td style='font-size:14px;font-weight:bold;font:12px/16px Arial,sans-serif;text-align:right;line-height:18px;padding:0 10px 0 0;vertical-align:top;font-family:Arial,sans-serif' class='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845total'> <strong>Order Total:</strong> </td>
             <td style='font-size:14px;font-weight:bold;font:12px/16px Arial,sans-serif;text-align:right;line-height:18px;padding:0 10px 0 0;vertical-align:top;font-family:Arial,sans-serif' class='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845total'> <strong>%%ORDER_total%%</strong> </td>
            </tr>
            <tr>
             <td style='padding:0 0 16px 0;text-align:right;line-height:18px;vertical-align:top;font-size:13px;font-family:Arial,sans-serif' class='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845end' colspan='2'> </td>
            </tr>
            <tr>
             <td style='border-top:1px solid rgb(234,234,234);padding:0 0 16px 0;text-align:right;line-height:18px;vertical-align:top;font-size:13px;font-family:Arial,sans-serif' class='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845divider' colspan='2'> </td>
            </tr>
           </tbody>
          </table> </td>
        </tr>
        <tr>
         <td style='vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif'>
          <table style='width:100%;border-collapse:collapse' id='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845selfService'>
           <tbody>
            <tr>
             <td style='vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif'> <p style='margin:0 0 4px 0;font:12px/16px Arial,sans-serif'> Need to make changes to your order? Visit our <a data-saferedirecturl='https://www.google.com/url?hl=en&amp;q=https://www.amazon.in/gp/r.html?C%3D1H6X0AT2K3AR2%26K%3DAC1H0DB3Q6BF%26R%3D1NXICTSMU7RGK%26T%3DC%26U%3Dhttp%253A%252F%252Fwww.amazon.in%252Fgp%252Fhelp%252Fcustomer%252Fdisplay.html%252Fref%253Dpe_386221_48200641_TE_ofa%253Fie%253DUTF8%2526nodeId%253D200534180%26A%3DE4QNOCLCWMO5JFB8YY7OC9ILY1SA%26H%3DWH5ZXV6IRKIV9YXRADROFOA91WEA%26ref_%3Dpe_386221_48200641_TE_ofa&amp;source=gmail&amp;ust=1481170866939000&amp;usg=AFQjCNH-iGyVCL45d8VWlenR80uX6wCtrQ' target='_blank' style='text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif' href='https://www.amazon.in/gp/r.html?C=1H6X0AT2K3AR2&amp;K=AC1H0DB3Q6BF&amp;R=1NXICTSMU7RGK&amp;T=C&amp;U=http%3A%2F%2Fwww.amazon.in%2Fgp%2Fhelp%2Fcustomer%2Fdisplay.html%2Fref%3Dpe_386221_48200641_TE_ofa%3Fie%3DUTF8%26nodeId%3D200534180&amp;A=E4QNOCLCWMO5JFB8YY7OC9ILY1SA&amp;H=WH5ZXV6IRKIV9YXRADROFOA91WEA&amp;ref_=pe_386221_48200641_TE_ofa'>Help Page</a> for more information.<br> </p> </td>
            </tr>
           </tbody>
          </table> </td>
        </tr>
        <tr>
         <td style='vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif'>
          <table style='width:100%;padding:0 0 0 0;border-collapse:none' id='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845closing'>
           <tbody>
            <tr>
             <td style='vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif'> <p style='padding:0 0 20px 0;border-bottom:1px solid rgb(234,234,234);margin:10px 0 0 0;font:12px/16px Arial,sans-serif'>Some products have a limited quantity available for purchase. Please see the product’s Detail Page for the available quantity. Any orders which exceed this quantity will be automatically canceled.<br><br> We hope to see you again soon.<br><br> <span style='font-size:16px;font-weight:bold' class='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845signature'> <strong>Amazon.in</strong> </span> </p> </td>
            </tr>
           </tbody>
          </table> </td>
        </tr>
        <tr>
         <td style='vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif'>
          <table style='width:100%;border-bottom:1px solid rgb(234,234,234);border-collapse:none;padding:0' id='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845marketingContent'>
           <tbody>
            <tr>
             <td style='padding:10px 0;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif' class='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845recs'>
              <table width='640' align='left' cellspacing='0' cellpadding='0' border='0' style='vertical-align:central;background:white;border-collapse:collapse' class='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845deviceWidth'>
               <tbody>
                <tr>
                 <td style='vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif'>
                  <table width='640' align='inherit' cellspacing='0' cellpadding='0' bgcolor='#FFFFFF' style='border-collapse:collapse' class='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845deviceWidth'>
                   <tbody>
                    <tr>
                     <td style='font-family:Arial,Sans-Serif;font-size:18px;font-weight:normal;font-style:normal;text-decoration:none;color:rgb(204,102,0);text-align:left;padding:6px 0 5px 0;vertical-align:top;line-height:18px'> Recommendations for all products: </td>
                    </tr>
                   </tbody>
                  </table> </td>
                </tr>
                <tr>
                 <td style='vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif'>
                  <table width='640' align='left' cellspacing='0' cellpadding='0' border='0' style='vertical-align:central;background:white;border-collapse:collapse' class='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845deviceWidth'>
                   <tbody>
                    <tr>
                     <td width='30%' align='left' bgcolor='#ffffff' style='font-family:Arial,Sans-Serif;padding:6px 16px 0 6px;vertical-align:top;font-size:13px;line-height:18px' class='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845asin_3col'>
                      <table width='100%' cellspacing='0' cellpadding='0' border='0' bgcolor='#ffffff' style='border-collapse:collapse'>
                       <tbody>
                        <tr>
                         <td valign='bottom' align='left' style='vertical-align:left;padding:4px 6px 4px 6px;font-size:13px;line-height:18px;font-family:Arial,sans-serif'> <a data-saferedirecturl='https://www.google.com/url?hl=en&amp;q=https://www.amazon.in/gp/r.html?C%3D1H6X0AT2K3AR2%26K%3DAC1H0DB3Q6BF%26R%3D1NXICTSMU7RGK%26T%3DC%26U%3Dhttps%253A%252F%252Fwww.amazon.in%252Fgp%252Fproduct%252FB00LKLLHZU%252Fref%253Dpe_386221_48200641_pd_te_o_qp_im%252F256-7029997-2856130%26A%3DE5XKCW1FC4SWTRVOGDZGJ7JDHYUA%26H%3DNAENNO8INFP9EALNF6OWFPWZT7OA%26ref_%3Dpe_386221_48200641_pd_te_o_qp_im&amp;source=gmail&amp;ust=1481170866939000&amp;usg=AFQjCNEOvaYMmJiYK3j4Oqfr27BcwEv3EA' target='_blank' style='text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif' href='https://www.amazon.in/gp/r.html?C=1H6X0AT2K3AR2&amp;K=AC1H0DB3Q6BF&amp;R=1NXICTSMU7RGK&amp;T=C&amp;U=https%3A%2F%2Fwww.amazon.in%2Fgp%2Fproduct%2FB00LKLLHZU%2Fref%3Dpe_386221_48200641_pd_te_o_qp_im%2F256-7029997-2856130&amp;A=E5XKCW1FC4SWTRVOGDZGJ7JDHYUA&amp;H=NAENNO8INFP9EALNF6OWFPWZT7OA&amp;ref_=pe_386221_48200641_pd_te_o_qp_im'> <img width='115' height='115' border='0' style='border:0' alt='Palmers Cocoa Butter Formula Nursing Butter 30 gm' class='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845pr_image_115 m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845pr_image_desktop CToWUd' src='https://ci4.googleusercontent.com/proxy/QFBFpdu43LPP3I7zNcyaetvz_S71tsPYhA5ekQHq7CBpBBCbpVqwnN6O2-8DBtVMG3QDokrMt3-o2EIpgtF6U41HVyp6qC7H4wJeUNBaWoM5KYizjo46zUymE_SNtA6v2VyQA3XJbQ=s0-d-e1-ft#https://images-eu.ssl-images-amazon.com/images/I/51C5FHUxmOL._AC_SL500_SS115_.jpg'> </a> </td>
                        </tr>
                        <tr align='left' style='padding:0;display:block;line-height:16px'>
                         <td align='left' style='vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif'> <span style='font-family:Arial,Sans-Serif;text-decoration:none;color:#888;font-size:13px;font:13px Arial,Sans-Serif'> <a data-saferedirecturl='https://www.google.com/url?hl=en&amp;q=https://www.amazon.in/gp/r.html?C%3D1H6X0AT2K3AR2%26K%3DAC1H0DB3Q6BF%26R%3D1NXICTSMU7RGK%26T%3DC%26U%3Dhttps%253A%252F%252Fwww.amazon.in%252Fgp%252Fproduct%252FB00LKLLHZU%252Fref%253Dpe_386221_48200641_pd_te_o_qp_ti%252F256-7029997-2856130%26A%3DD2NCNC1KAOU4QSEATAGOADHQPZMA%26H%3DKVP6J9VDWRXH0A32MZSXDUULE28A%26ref_%3Dpe_386221_48200641_pd_te_o_qp_ti&amp;source=gmail&amp;ust=1481170866939000&amp;usg=AFQjCNEtD5iTpCFoiI7LA9zrjv2-FSaCyA' target='_blank' style='font-family:Arial,Sans-Serif;text-decoration:none;color:rgb(136,136,136);font-size:13px;font:13px Arial,Sans-Serif' href='https://www.amazon.in/gp/r.html?C=1H6X0AT2K3AR2&amp;K=AC1H0DB3Q6BF&amp;R=1NXICTSMU7RGK&amp;T=C&amp;U=https%3A%2F%2Fwww.amazon.in%2Fgp%2Fproduct%2FB00LKLLHZU%2Fref%3Dpe_386221_48200641_pd_te_o_qp_ti%2F256-7029997-2856130&amp;A=D2NCNC1KAOU4QSEATAGOADHQPZMA&amp;H=KVP6J9VDWRXH0A32MZSXDUULE28A&amp;ref_=pe_386221_48200641_pd_te_o_qp_ti'>Palmers Cocoa Butter Formula Nursing Butter 30 gm</a> </span> </td>
                        </tr>
                        <tr align='left' class='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845pr_title' style='padding:0;display:block;line-height:16px'>
                         <td valign='middle' align='left' style='vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif'> <span style='font-family:Arial,Sans-Serif;text-decoration:none;color:#888;font-size:13px;vertical-align:3px'> Rs. 1,165.00 - Rs. 1,699.00 </span> <span style='vertical-align:0px'></span> </td>
                        </tr>
                       </tbody>
                      </table> </td>
                     <td width='30%' align='left' bgcolor='#ffffff' style='font-family:Arial,Sans-Serif;padding:6px 16px 0 6px;vertical-align:top;font-size:13px;line-height:18px' class='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845asin_3col'>
                      <table width='100%' cellspacing='0' cellpadding='0' border='0' bgcolor='#ffffff' style='border-collapse:collapse'>
                       <tbody>
                        <tr>
                         <td valign='bottom' align='left' style='vertical-align:left;padding:4px 6px 4px 6px;font-size:13px;line-height:18px;font-family:Arial,sans-serif'> <a data-saferedirecturl='https://www.google.com/url?hl=en&amp;q=https://www.amazon.in/gp/r.html?C%3D1H6X0AT2K3AR2%26K%3DAC1H0DB3Q6BF%26R%3D1NXICTSMU7RGK%26T%3DC%26U%3Dhttps%253A%252F%252Fwww.amazon.in%252Fgp%252Fproduct%252FB00OB4OEBW%252Fref%253Dpe_386221_48200641_pd_te_o_qp_im%252F256-7029997-2856130%26A%3D7YWN9PXWIT0VAATZFDKD0ZPUAVUA%26H%3DWRE5AIXJIHASYHJ8FHKYRFWJN18A%26ref_%3Dpe_386221_48200641_pd_te_o_qp_im&amp;source=gmail&amp;ust=1481170866939000&amp;usg=AFQjCNEantlQiwXW6_ItUKkE6OYF6KwDWg' target='_blank' style='text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif' href='https://www.amazon.in/gp/r.html?C=1H6X0AT2K3AR2&amp;K=AC1H0DB3Q6BF&amp;R=1NXICTSMU7RGK&amp;T=C&amp;U=https%3A%2F%2Fwww.amazon.in%2Fgp%2Fproduct%2FB00OB4OEBW%2Fref%3Dpe_386221_48200641_pd_te_o_qp_im%2F256-7029997-2856130&amp;A=7YWN9PXWIT0VAATZFDKD0ZPUAVUA&amp;H=WRE5AIXJIHASYHJ8FHKYRFWJN18A&amp;ref_=pe_386221_48200641_pd_te_o_qp_im'> <img width='115' height='115' border='0' style='border:0' alt='Klamotten Pink and Red Cotton Nightsuit XX91' class='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845pr_image_115 m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845pr_image_desktop CToWUd' src='https://ci6.googleusercontent.com/proxy/4AOFZjRH4KSj3TBzD7a9D1SzjlNfkJp3pVmNA_aD9CTo7FDTpNvIUr8gkBwFALALLOr63wydnihMunLfzffGs9K9RGPIOQwhBAeoCQ300rxB6alfoDX41TEBVY0oqGje7cbwwO0oew=s0-d-e1-ft#https://images-eu.ssl-images-amazon.com/images/I/31DGItpeH1L._AC_SL500_SS115_.jpg'> </a> </td>
                        </tr>
                        <tr align='left' style='padding:0;display:block;line-height:16px'>
                         <td align='left' style='vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif'> <span style='font-family:Arial,Sans-Serif;text-decoration:none;color:#888;font-size:13px;font:13px Arial,Sans-Serif'> <a data-saferedirecturl='https://www.google.com/url?hl=en&amp;q=https://www.amazon.in/gp/r.html?C%3D1H6X0AT2K3AR2%26K%3DAC1H0DB3Q6BF%26R%3D1NXICTSMU7RGK%26T%3DC%26U%3Dhttps%253A%252F%252Fwww.amazon.in%252Fgp%252Fproduct%252FB00OB4OEBW%252Fref%253Dpe_386221_48200641_pd_te_o_qp_ti%252F256-7029997-2856130%26A%3DLZG0FXALALTWTTWCULRARLE0SB0A%26H%3DHAGQJJVDGA6SCWWX4E4KLWHCWBWA%26ref_%3Dpe_386221_48200641_pd_te_o_qp_ti&amp;source=gmail&amp;ust=1481170866939000&amp;usg=AFQjCNHRJ1gW5oO_SjjvI1SGfW4DSl9RaQ' target='_blank' style='font-family:Arial,Sans-Serif;text-decoration:none;color:rgb(136,136,136);font-size:13px;font:13px Arial,Sans-Serif' href='https://www.amazon.in/gp/r.html?C=1H6X0AT2K3AR2&amp;K=AC1H0DB3Q6BF&amp;R=1NXICTSMU7RGK&amp;T=C&amp;U=https%3A%2F%2Fwww.amazon.in%2Fgp%2Fproduct%2FB00OB4OEBW%2Fref%3Dpe_386221_48200641_pd_te_o_qp_ti%2F256-7029997-2856130&amp;A=LZG0FXALALTWTTWCULRARLE0SB0A&amp;H=HAGQJJVDGA6SCWWX4E4KLWHCWBWA&amp;ref_=pe_386221_48200641_pd_te_o_qp_ti'>Klamotten Pink and Red Cotton Nightsuit XX91</a> </span> </td>
                        </tr>
                        <tr align='left' class='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845pr_title' style='padding:0;display:block;line-height:16px'>
                         <td valign='middle' align='left' style='vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif'> <span style='font-family:Arial,Sans-Serif;text-decoration:none;color:#888;font-size:13px;vertical-align:3px'> Rs. 299.00 </span> <span style='vertical-align:0px'></span> </td>
                        </tr>
                       </tbody>
                      </table> </td>
                     <td width='30%' align='left' bgcolor='#ffffff' style='font-family:Arial,Sans-Serif;padding:6px 16px 0 6px;vertical-align:top;font-size:13px;line-height:18px' class='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845asin_3col'>
                      <table width='100%' cellspacing='0' cellpadding='0' border='0' bgcolor='#ffffff' style='border-collapse:collapse'>
                       <tbody>
                        <tr>
                         <td valign='bottom' align='left' style='vertical-align:left;padding:4px 6px 4px 6px;font-size:13px;line-height:18px;font-family:Arial,sans-serif'> <a data-saferedirecturl='https://www.google.com/url?hl=en&amp;q=https://www.amazon.in/gp/r.html?C%3D1H6X0AT2K3AR2%26K%3DAC1H0DB3Q6BF%26R%3D1NXICTSMU7RGK%26T%3DC%26U%3Dhttps%253A%252F%252Fwww.amazon.in%252Fgp%252Fproduct%252FB00DRE1CC6%252Fref%253Dpe_386221_48200641_pd_te_o_qp_im%252F256-7029997-2856130%26A%3DIXNKLWQ6KQMGUI9HWDXNUE8PGMOA%26H%3DDGA3AIQL3Y3HRGAMI5CV7ZQYGLKA%26ref_%3Dpe_386221_48200641_pd_te_o_qp_im&amp;source=gmail&amp;ust=1481170866940000&amp;usg=AFQjCNF2iIvDM2ab5ezqzcgnKndYubykBQ' target='_blank' style='text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif' href='https://www.amazon.in/gp/r.html?C=1H6X0AT2K3AR2&amp;K=AC1H0DB3Q6BF&amp;R=1NXICTSMU7RGK&amp;T=C&amp;U=https%3A%2F%2Fwww.amazon.in%2Fgp%2Fproduct%2FB00DRE1CC6%2Fref%3Dpe_386221_48200641_pd_te_o_qp_im%2F256-7029997-2856130&amp;A=IXNKLWQ6KQMGUI9HWDXNUE8PGMOA&amp;H=DGA3AIQL3Y3HRGAMI5CV7ZQYGLKA&amp;ref_=pe_386221_48200641_pd_te_o_qp_im'> <img width='115' height='115' border='0' style='border:0' alt='Mothercare All We Know Baby Cotton Wool Pleat' class='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845pr_image_115 m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845pr_image_desktop CToWUd' src='https://ci3.googleusercontent.com/proxy/pi6esa1O6HklrRu5ERlLUbZ8Cm00hKa6rMs8Q2u0mNPC3dbdN5zmb2_bKWZyJpuI3G6f6mn40bTgbA99LR60Rqag4WEnjAYO10c8tCZ_zoshRQk7tqSSpZgcznrcDhGFgSvecS3GKQ=s0-d-e1-ft#https://images-eu.ssl-images-amazon.com/images/I/41m6qLDJrrL._AC_SL500_SS115_.jpg'> </a> </td>
                        </tr>
                        <tr align='left' style='padding:0;display:block;line-height:16px'>
                         <td align='left' style='vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif'> <span style='font-family:Arial,Sans-Serif;text-decoration:none;color:#888;font-size:13px;font:13px Arial,Sans-Serif'> <a data-saferedirecturl='https://www.google.com/url?hl=en&amp;q=https://www.amazon.in/gp/r.html?C%3D1H6X0AT2K3AR2%26K%3DAC1H0DB3Q6BF%26R%3D1NXICTSMU7RGK%26T%3DC%26U%3Dhttps%253A%252F%252Fwww.amazon.in%252Fgp%252Fproduct%252FB00DRE1CC6%252Fref%253Dpe_386221_48200641_pd_te_o_qp_ti%252F256-7029997-2856130%26A%3DSLWJYTYWHJ6FPD4BWHDX5K915SEA%26H%3DVMP8NR0O4XMCI7FAUY2QTIZALACA%26ref_%3Dpe_386221_48200641_pd_te_o_qp_ti&amp;source=gmail&amp;ust=1481170866940000&amp;usg=AFQjCNFfIZKfxfg2FAX-pyYrcTHnStuv-A' target='_blank' style='font-family:Arial,Sans-Serif;text-decoration:none;color:rgb(136,136,136);font-size:13px;font:13px Arial,Sans-Serif' href='https://www.amazon.in/gp/r.html?C=1H6X0AT2K3AR2&amp;K=AC1H0DB3Q6BF&amp;R=1NXICTSMU7RGK&amp;T=C&amp;U=https%3A%2F%2Fwww.amazon.in%2Fgp%2Fproduct%2FB00DRE1CC6%2Fref%3Dpe_386221_48200641_pd_te_o_qp_ti%2F256-7029997-2856130&amp;A=SLWJYTYWHJ6FPD4BWHDX5K915SEA&amp;H=VMP8NR0O4XMCI7FAUY2QTIZALACA&amp;ref_=pe_386221_48200641_pd_te_o_qp_ti'>Mothercare All We Know Baby Cotton Wool Pleat</a> </span> </td>
                        </tr>
                        <tr align='left' class='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845pr_title' style='padding:0;display:block;line-height:16px'>
                         <td valign='middle' align='left' style='vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif'> <span style='font-family:Arial,Sans-Serif;text-decoration:none;color:#888;font-size:13px;vertical-align:3px'> Rs. 175.00 </span> <span style='vertical-align:0px'></span> </td>
                        </tr>
                       </tbody>
                      </table> </td>
                    </tr>
                   </tbody>
                  </table> </td>
                </tr>
               </tbody>
              </table></td>
            </tr>
           </tbody>
          </table> </td>
        </tr>
        <tr>
         <td style='vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif'>
          <table style='border-collapse:collapse'>
          </table> </td>
        </tr>
        <tr>
         <td style='vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif'>
          <table style='width:100%;margin:20px 0 0 0;border-collapse:collapse' id='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845legalCopy'>
           <tbody>
            <tr>
             <td style='vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif'> <p style='font-size:10px;color:rgb(102,102,102);line-height:16px;margin:0 0 10px 0;font:10px'> This email was sent from a notification-only address that cannot accept incoming email. Please do not reply to this message. </p> </td>
            </tr>
            <tr>
            </tr>
           </tbody>
          </table> </td>
        </tr>
       </tbody>
      </table> </td>
    </tr>
   </tbody>
  </table>
