<table width="640" cellspacing="0" cellpadding="0" style="font:12px/16px Arial,sans-serif;color:#333;background-color:#fff;margin:0 auto">
   <tbody>
     <tr>
      <td style='vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif'>
       <table style='width:100%;border-collapse:collapse'>
        <tbody>
         <tr>
          <td style='width:115px;padding:20px 20px 0 0;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif' rowspan='2'>
            <a data-saferedirecturl='http://botreeteststore.mybigcommerce.com/' target='_blank' style='text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif' title='Visit botreeteststore.mybigcommerce.com' href='http://botreeteststore.mybigcommerce.com/'>
              <img style='border:0;width:115px' src='https://wwwcdn.bigcommerce.com/www1.bigcommerce.com/assets/mediakit/logo-plain.png?mtime=20160412113732' alt='Bigcommerce.com'>
            </a>
          </td>
          <td style='text-align:right;padding:5px 0;border-bottom:1px solid rgb(204,204,204);white-space:nowrap;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif' class='m_-8458387270647573780m_-8456204030309822964m_4722856042003582080m_-5527024756179962845navigation'> </td>
          <td style='width:100%;padding:7px 5px 0;text-align:right;border-bottom:1px solid rgb(204,204,204);white-space:nowrap;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif'> <a data-saferedirecturl='javascript:;' target='_blank' style='border-right:0px solid rgb(204,204,204);margin-right:0px;padding-right:0px;text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif' href='javascript:;'>Your Orders</a> </td>
          <td style='text-align:right;padding:5px 0;border-bottom:1px solid rgb(204,204,204);white-space:nowrap;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif'>
            <span style='text-decoration:none;color:rgb(204,204,204);font-size:15px;font-family:Arial,sans-serif'>&nbsp;|&nbsp;</span>
            <a data-saferedirecturl='javascript:;' target='_blank' style='border-right:0px solid rgb(204,204,204);margin-right:0px;padding-right:0px;text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif' href='javascript:;'>Your Account</a>
            <span style='text-decoration:none;color:rgb(204,204,204);font-size:15px;font-family:Arial,sans-serif'>&nbsp;|&nbsp;</span>
            <a data-saferedirecturl='https://www.bigcommerce.com/' target='_blank' style='border:0;margin:0;padding:0;border-right:0px solid rgb(204,204,204);margin-right:0px;padding-right:0px;text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif' href='https://www.bigcommerce.com/' >BigCommerce.com</a>
          </td>
         </tr>
         <tr>
          <td style='text-align:right;padding:7px 0 5px 0;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif' colspan='3'> <h2 style='font-size:20px;line-height:24px;margin:0;padding:0;font-weight:normal;color:rgb(0,0,0)!important'>Order Confirmation</h2> Order #<span style='color:#000;text-decoration:none;font:12px/16px Arial,sans-serif'>{{ORDER_id}}</span> <br> </td>
         </tr>
        </tbody>
       </table> </td>
     </tr>
    <tr>
     <td style="width:640px" colspan="2"> <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hello {{CUSTOMER_first_name}} {{CUSTOMER_last_name}},</p> <p style="margin:4px 20px 18px 20px;width:640px"> We thought you'd like to know that we've dispatched this portion of your order separately to give you quicker service. You won't be charged any extra shipping fees, and the remainder of your order will follow as soon as those items become available. If you need to return an item from this shipment or manage other orders, please visit <a data-saferedirecturl="javascript:;" target="_blank" style="color:#006699;text-decoration:none" href="javascript:;">Your Orders</a> on bigcommerce.com. </p> </td>
    </tr>
    <tr>
     <td style="padding:0 20px;width:640px" colspan="2">
      <table cellspacing="0" cellpadding="0" style="border-top:3px solid #2d3741;width:640px">
       <tbody>
        <tr>
         <td valign="top" style="font:14px Arial,san-serif;padding:11px 18px 14px 18px;width:280px;background-color:#efefef"><span style="color:#666">Your package was sent to:</span><br> <p style="margin:2px 0"> <strong> {{CUSTOMER_first_name}} {{CUSTOMER_last_name}} <br> {{SHIPPING_address}} </p> </td>
        </tr>
        <tr>
         <td style="font-size:10px;color:#666;padding:0 10px 20px 10px;line-height:16px;width:640px" colspan="2"> <p style="margin:10px 0 0 0;font:11px/16px Arial,sans-serif;color:#333"> Your package is being shipped by Bigcommerce Transportation Services and the tracking number is 211150635008. Please note that a signature may be required for the delivery of the package. </p> </td>
        </tr>
       </tbody>
      </table> </td>
    </tr>
    <tr>
     <td style="width:640px" colspan="2"> <p style="font:18px Arial,sans-serif;color:#cc6600;border-bottom:1px solid #ccc;margin:0 20px 3px 20px;padding:0 0 3px 0"> Shipment Details </p> </td>
    </tr>
    <tr>
     <td id="m_8521776616304418064m_5002842050371960406m_-8599834865730584034m_7783002159782884724shipmentDetails" style="padding:16px 40px;width:640px" colspan="2">
      <table width="565" cellspacing="0" cellpadding="0">
       <tbody>
         {{ORDER_table}}
        <tr>
         <td style="border-top:1px solid rgb(234,234,234);padding:0pt 0pt 16px;width:560px" colspan="3"> &nbsp; </td>
        </tr>
        <tr>
         <td valign="top" align="right" style="font:12px/18px Arial,sans-serif;padding:0 10px 0 0;color:#333;width:480px" colspan="2"> Item Subtotal: </td>
         <td valign="top" align="right" style="font:12px/18px Arial,sans-serif;color:#333;width:85px"> {{ORDER_subtotal}} </td>
        </tr>
        <tr>
         <td valign="top" align="right" style="font:12px/18px Arial,sans-serif;padding:0 10px 0 0;color:#333;width:480px" colspan="2"> Shipping &amp; Handling: </td>
         <td valign="top" align="right" style="font:12px/18px Arial,sans-serif;color:#333;width:85px"> {{ORDER_shipping_charge}} </td>
        </tr>
        <tr>
         <td valign="top" align="right" style="font:14px Arial,sans-serif;padding:10px 10px 10px 0;color:#333;width:480px" colspan="2"> Shipment Total: </td>
         <td valign="top" align="right" style="color:#333;font:14px Arial,sans-serif;padding:10px 0 5px 0;color:#333;width:85px"> <strong> {{ORDER_total}} </strong> </td>
        </tr>
       </tbody>
      </table> </td>
    </tr>
    <tr>
     <td style="padding:0 20px 0 20px;line-height:22px;width:640px" colspan="2"> <p style="margin:10px 0;padding:0 0 20px 0;border-bottom:1px solid #eaeaea">We hope to see you again soon!<br> <span style="font:14px Arial,san-serif"> <strong>BigCommerce.com</strong> </span> </p> </td>
    </tr>
    <tr>
     <td style="font-size:10px;color:#666;padding:0 20px 20px 20px;line-height:16px;width:640px" colspan="2"> <p>This email was sent from a notification-only address that cannot accept incoming email. Please do not reply to this message.</p> </td>
    </tr>
   </tbody>
  </table>
